#encabezado {
    background-color: rgb(31, 14, 61);
    height: 9rem;
}
h1 {
    text-align: center;
    padding-top: 3.5rem;
    color:rgb(229, 229, 229);
}

#p1 {
    color:rgb(131, 28, 67);
    font-style: italic;
}

#contenido {
    text-align: center;
}

#info {
    padding-top: 3.5rem;
    font-size: large;
}

.container #contacto {
    color:rgb(56, 45, 88);
    font-size: x-large;
    font-style:inherit;
    font-weight: 200;
}
.container .information {
    color:rgb(67, 67, 145);
    font-style:unset;
    font-family: 'Arial';
}

.menú {
    padding: 5.8rem;
    font-family:Verdana;
    font-size: small;
}
nav {
    background-color: rgb(241, 241, 241);
}

body {
    background-color: rgb(217, 217, 217);
}

#fofo {
    background-color: rgba(181, 195, 230, 0.552);
}