#encabezado {
    background-color: rgb(33, 27, 67);
    height: 9rem;
}
h1 {
    text-align: center;
    padding-top: 3.5rem;
    font-style:normal;
    color:rgb(229, 229, 229);
}
.contenedor {
  width: 300px;
  height: 200px;
  background-image: url("img/https://es.gizmodo.com/app/uploads/2025/06/Gizmodo-31-9.jpg");
  background-size: cover;
}

#p1 {
    color:rgb(0, 0, 0);
    font-style: normal;
    text-align: justify;
}

#contenido {
    text-align: justify;
}

#info {
    padding-top: 3.5rem;
    font-size: large;
}

.container #contacto {
    color:rgb(56, 45, 88);
    font-size: medium;
    font-style: oblique;
    font-weight: 200;
}
.container .information {
    color:rgb(67, 67, 145);
    font-style:unset;
    font-family: 'Arial';
}
.menú {
    padding: 5.8rem;
    font-family:Verdana;
    font-size: small;
}
nav {
    background-color: rgb(241, 241, 241);
}

body {
    background-color: rgb(217, 217, 217);
}

#fofo {
    background-color: rgba(181, 195, 230, 0.552);
}
ul {
    padding: 0;
    margin: 0;
    display: flex inline;
    justify-content: center;
    height: 100vh;
    gap: 1rem;

}
li {
    list-style: none;


}
li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    background-color: #f3f3f3;
    transition: 0.5s;
}